8.2/8.2.25.16/CRMWeb/Tools/FormEditor/XSDs/OrgFieldProperties.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="entity">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fields" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="field" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="displaynames" minOccurs="1" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="displayname" minOccurs="1" maxOccurs="5">
                                                        <xs:complexType>
                                                            <xs:attribute name="description" type="xs:string" use="required" />
                                                            <xs:attribute name="languagecode" type="LanguageCode" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="options" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="option" minOccurs="1" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="labels" minOccurs="1" maxOccurs="1">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="label" minOccurs="1" maxOccurs="5">
                                                                                <xs:complexType>
                                                                                    <xs:attribute name="description" type="xs:string" use="required" />
                                                                                    <xs:attribute name="languagecode" type="LanguageCode" use="required" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="value" type="xs:integer" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="value" type="xs:integer" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="defaultvalue" type="xs:string" use="required" />
                                    <xs:attribute name="maxlength" type="xs:positiveInteger" use="required" />
                                    <xs:attribute name="format" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="text" />
                                                <xs:enumeration value="email" />
                                                <xs:enumeration value="tickersymbol" />
                                                <xs:enumeration value="url" />
                                                <xs:enumeration value="date" />
                                                <xs:enumeration value="datetime" />
                                                <xs:enumeration value="phoneticguide" />
                                                <xs:enumeration value="phone" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="requiredlevel" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="recommended" />
                                                <xs:enumeration value="required" />
                                                <xs:enumeration value="na" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="minvalue" type="xs:integer" use="required" />
                                    <xs:attribute name="maxvalue" type="xs:integer" use="required" />
                                    <xs:attribute name="grouping" type="xs:boolean" use="required" />
                                    <xs:attribute name="accuracy" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:positiveInteger">
                                                <xs:fractionDigits value="4" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="objecttypecode" type="ObjectTypeCode" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="ObjectTypeCode">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
            <xs:enumeration value="5" />
            <xs:enumeration value="8" />
            <xs:enumeration value="9" />
            <xs:enumeration value="10" />
            <xs:enumeration value="11" />
            <xs:enumeration value="12" />
            <xs:enumeration value="13" />
            <xs:enumeration value="14" />
            <xs:enumeration value="15" />
            <xs:enumeration value="16" />
            <xs:enumeration value="112" />
            <xs:enumeration value="113" />
            <xs:enumeration value="117" />
            <xs:enumeration value="121" />
            <xs:enumeration value="122" />
            <xs:enumeration value="123" />
            <xs:enumeration value="124" />
            <xs:enumeration value="130" />
            <xs:enumeration value="131" />
            <xs:enumeration value="132" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LanguageCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="de" />
            <xs:enumeration value="en" />
            <xs:enumeration value="es" />
            <xs:enumeration value="fr" />
            <xs:enumeration value="it" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
