6.1/6.1.4.145/CRMWeb/_Resources/solution.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
 <xs:simpleType name="TrueFalse01Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GuidType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        The representation of a GUID, generally the id of an element.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VersionType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        The representation of a Version number.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="^[0-9]+(\.[0-9]+){1,3}$" />
    </xs:restriction>
  </xs:simpleType>  
  <xs:simpleType name="EntityAttributeLocalizedNameBaseType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
 <xs:element name="LocalizedName" type="EntityAttributeLocalizedNameBaseType" />
 <xs:element name="LocalizedCollectionName" type="EntityAttributeLocalizedNameBaseType" />
  <xs:complexType name="LocalizedNamesType">
    <xs:sequence>
      <xs:element name="LocalizedName" type="FieldXmlFieldUIType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DescriptionsType">
    <xs:sequence>
      <xs:element name="Description" type="FieldXmlFieldUIType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FieldXmlFieldUIType">
    <xs:attribute name="id" type="GuidType" />
    <xs:attribute name="description" use="required" type="xs:string" />
    <xs:attribute name="languagecode" use="required" type="xs:positiveInteger" />
  </xs:complexType>
  <xs:element name="ImportExportXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SolutionManifest" type="SolutionManifestType" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute name="version" type="VersionType" />
      <xs:attribute name="minimumversion" type="VersionType" use="optional" />
      <xs:attribute name="SolutionPackageVersion" type="VersionType" use="optional" />
      <xs:attribute name="languagecode" type="xs:nonNegativeInteger" />
      <xs:attribute name="generatedBy" type="xs:string" />
    </xs:complexType>
  </xs:element>
 <xs:complexType name="SolutionManifestType">
    <xs:sequence>
      <xs:element name="UniqueName" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="LocalizedNames" type="LocalizedNamesType" minOccurs="1" maxOccurs="1" />
      <xs:element name="Descriptions" type="DescriptionsType" minOccurs="0" maxOccurs="1" />
      <xs:element name="Version" type="VersionType" nillable="true" minOccurs="0" maxOccurs="1" />
      <xs:element name="Managed" type="TrueFalse01Type" nillable="true" minOccurs="0" maxOccurs="1" />
      <xs:element name="ConfigurationPage" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="Publisher" minOccurs="1" maxOccurs="1" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UniqueName" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="LocalizedNames" type="LocalizedNamesType" minOccurs="1" maxOccurs="1" />
            <xs:element name="Descriptions" type="DescriptionsType" minOccurs="0" maxOccurs="1" />
            <xs:element name="EMailAddress" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
            <xs:element name="SupportingWebsiteUrl" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
            <xs:element name="CustomizationPrefix" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="CustomizationOptionValuePrefix" type="xs:integer" minOccurs="1" maxOccurs="1" />
            <xs:element name="Addresses" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:all>
                        <xs:element name="AddressNumber" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="AddressTypeCode" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="City" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="County" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="Country" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="Fax" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="FreightTermsCode" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="ImportSequenceNumber" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="Latitude" type="xs:double" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="Line1" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="Line2" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="Line3" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="Longitude" type="xs:double" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="Name" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="PostalCode" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="PostOfficeBox" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="PrimaryContactName" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="ShippingMethodCode" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="StateOrProvince" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="Telephone1" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="Telephone2" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="Telephone3" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="TimeZoneRuleVersionNumber" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="UPSZone" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="UTCOffset" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1" />
                        <xs:element name="UTCConversionTimeZoneCode" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1" />
                      </xs:all>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>

            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RootComponents" minOccurs="1" maxOccurs="1" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RootComponent" type="RootComponentType" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="MissingDependencies" minOccurs="1" maxOccurs="1" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MissingDependency" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Required" type="MissingDependencyItemType" minOccurs="1" maxOccurs="1" />
                  <xs:element name="Dependent" type="MissingDependencyItemType" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RootComponentType">
    <xs:attribute name="type" use="required" type="xs:int" />
    <xs:attribute name="schemaName" use="optional" type="xs:string" />
    <xs:attribute name="id" use="optional" type="GuidType" />
    <xs:attribute name="parentId" use="optional" type="GuidType" />
  </xs:complexType>
  <xs:complexType name="MissingDependencyItemType">
    <xs:attribute name="key" use="required" type="xs:int" />
    <xs:attribute name="type" use="required" type="xs:int" />
    <xs:attribute name="schemaName" use="optional" type="xs:string" />
    <xs:attribute name="id" use="optional" type="GuidType" />
    <xs:attribute name="displayName" use="optional" type="xs:string" />
    <xs:attribute name="solution" use="optional" type="xs:string" />
    <xs:attribute name="parentSchemaName" use="optional" type="xs:string" />
    <xs:attribute name="parentDisplayName" use="optional" type="xs:string" />
    <xs:attribute name="parentId" use="optional" type="GuidType" /> 
  </xs:complexType>
</xs:schema>
